
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
 background-color: var(--colorgris);


  }
  

/* para cargar la pagina */

  #contenedor_carga{
	background-color:rgba(248, 245, 245, 0.897);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all  1s ease;
	-o-transition: all  1s ease;
	transition: all  1s ease;
	z-index: 10000;
}
#carga{
	border: 15px solid var(--colormorado);
	border-top-color:var(--primary-color);
	border-top-style: groove;
	height: 100px;
	width:  100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}

/* fin para cargar la pagina */

  /* parte del encabezado donde esta el menu */
  #franjaheader{
background-color: var(--primary-color);


  }
#franjaheader .logo .logoceleste{
	height:250px ;
	width:500px; 
}

/* menu */
.container {
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
  }
  
  .flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
	background-color:var(--primary-color) ;
  }
  
  ul {
	list-style-type: none;
  }
  
  a {
	text-decoration: none;
	color: #333;
  }
  
  h1,
  h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
  }
  
  p {
	margin: 10px 0;
  }
  
.navbar {
	background-color: var(--primary-color);
	 color: #fff;
	height: 60px; 
  }
  
  .navbar ul {
	display: flex;
  }
  
  .navbar a {
	color: #fff;
	padding: 10px;
	margin: 5px;
	font-size: 20px;
  }
  
  .navbar a:hover {
	border-bottom: 2px #fff solid;
	
  }
  
  .navbar .flex {
	justify-content: center;
  }
/* fin del menu */ 

  /* fin del encabezado del menu */

  #franja1 .franja0{
	max-width: 100%;
}
  #franja1{
	  background-color:var(--colorgris);
	  font-family: bariol_bold-webfont ;
	  color: #fff;
  }
  #franja1 h1{
	  font-size:35px;
  }
  #franja1 p{
	  font-family: bariol_light-webfont;
	  font-size :25px;
	  width:50%;
  }
