@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  
}
/*Titulos*/
@font-face {
  font-family:bariol_regular-webfont;
  src: url(/Fonts/bariol_regular-webfont.ttf);
}
.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color:var(--primary-color) ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color:#3B9BB1;
 
}

.logo img{

  height:250px ;
  width:500px; 
  
  }




.navbar {
  background-color: var(--primary-color);
   color: #fff;
  height: 60px; 
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  
}

.navbar .flex {
  justify-content: center;
}
.navbar img{

height: 200px;


}


/* Inicio de logotipo */
/* .franjaheader img {
/* arregalr esta mierda */
  /* }  */
/* .franjaheader{
  background-image:url("/wpimages/conocenos/conocenos-header1.jpg") ;

} */
  /* .franjaheader .conocenosf {
    height: 500px;
    width: 100px;
    margin-top: -10%;
  } */

  /* inicio del body */
  /* gris */
  .gris {
    background-image: url("/wpimages/conocenos/conocenosbody1.jpg");
    background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 890px;
    padding-top: 100px;
    width: 100%;
   
  }
  .gris h1{
    font-size: 50px;
    font-family:bariol_regular-webfont ;
    color: white ;
    /* margin-left: 500px; */
    margin-top: -100px;
    /* text-align: justify; */

}
.gris h2{
    font-size: 50px;
    font-family:bariol_regular-webfont ;
    color: white ;
    /* margin-left: 550px; */
    margin-top: 80px;

}

.gris h3{
    font-size: 50px;
    font-family:bariol_regular-webfont ;
    color: white ;
    /* margin-left: 550px; */
    margin-top: 30px;

}

.gris p{
  font-size: 30px;
  font-family:bariol_regular-webfont ;
  color: white ;
  /* margin-left: 110px; */
  margin-top: 10px;
  text-align:center;
  margin-left: 230px;
  margin-right: 230px;
}

.gris .linea-gris{
  background-image: url("/wpimages/conocenos/header-body2.jpg");
height: 100px;
background-size: cover;
background-size: cover;
background-size: cover;
 /* width: 100%; */
}
/* fin gris */

/* gris oscuro */
.gris-oscuro {
    background-image: url("/wpimages/conocenos/franja2cono.jpg");
    background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 2500px;
    padding-top: 100px;
    font-size: 30px;
    width: 100%;
   
  }

.gris-oscuro2 {
    
    background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 300px;
    padding-top: -100px;
    font-size: 30px;
    width: 100%;
   
  }
  
.gris-oscuro h1{
    font-size: 40px;
    font-family:bariol_regular-webfont ;
    color: white ;
    /* margin-left: 550px; */
    margin-top: 100px;
    text-align:center;
    margin-left: 230px;
    margin-right: 230px;

}

.gris-oscuro h2{
  font-size: 40px;
  font-family:bariol_regular-webfont ;
  color: white ;
  /* margin-left: 550px; */
  margin-top: 20px;
  text-align:center;
  margin-left: 280px;
  margin-right: 280px;

}


.gris-oscuro p{
    font-size: 30px;
    font-family:bariol_regular-webfont ;
    color: white ;
    
    margin-top: 10px; 
    text-align:center;
    margin-left: 280px;
    margin-right: 280px;
}

.gris-oscuro2 p{
  
  font-size: 25px;
  font-family:bariol_regular-webfont ;
  color: white ;
  /* margin-left: 110px; */
  
 
  text-align:center;
  margin-left: 230px;
  margin-right: 230px;
}

.gris-oscuro2 {
    
    background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 300px;
    padding-top: -100px;
    font-size: 30px;
    width: 100%;
   
  }
  
.gris-oscuro2 h2{
    font-size: 40px;
    font-family:bariol_regular-webfont ;
    color: white ;
    /* margin-left: 550px; */
    margin-top: -780px;

}


.gris-oscuro2 p{
  font-size: 25px;
  font-family:bariol_regular-webfont ;
  color: white ;
  /* margin-left: 110px; */
  margin-top: 30px;
  text-align:initial;
  text-align: center;
}



/* fin gris oscuro */

  /* fin del body */