@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0%;
  padding: 0%;
  background-color: white;
}

.franja0 {
    max-width: 100%;
  }
  
  /* .franja1 .conocenosf {
    height: 500px;
    width: 500px;
    margin-top: -10%;
  }
   */
   #franja1{
background-color: white;

   }
  .franja1 .textosegundo h1 {
    position:unset;
    
    padding-top: 100px;
    padding-bottom: 5px;
    color: black;
    font-size: 40px;
    font-family:bariol_bold-webfont;
  }
  
  .franja1 .textosegundo h2 {
  
    padding-top: 8px;
    padding-bottom: 5px;
    color: black;
    font-size: 22px;
    font-family:bariol_regular-webfont;
  }
  .franja1 .textosegundo h3 {
   
    padding-top: 8px;
    padding-bottom: 5px;
    color: black;
    font-size: 22px;
    font-family:bariol_regular-webfont;
  }

  .franja1 .textosegundo h4 {

    padding-top: 8px;
    padding-bottom: 5px;
    color: black;
    font-size: 22px;
    font-family:bariol_regular-webfont;
  }

  /*inicio FORMULARIO*/

  form {

    border-radius: 3px;
    color: rgb(10, 10, 10);
    font-size: 1.5em;
    padding: 20px;
    
    padding-top: 80px;
    margin-left: 100px;
    font-family:bariol_regular-webfont;
  
  }
  
  input {
    width: 260px;
    top: 20px;
    font-size: 20px;
    height: 30px;
    margin-left: 300px;
    font-family:bariol_regular-webfont;
  
  }
  
  .mensaje .field{
    border: solid 1px rgb(8, 8, 8);
    padding: 15px;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: -3px;
    border-width: 1px;
    width: 500px;
    font-family:bariol_regular-webfont;
  }
  .mensaje p{
    margin-top: 0px;
    font-family:bariol_regular-webfont;
  }
  .fullname{
    border: solid 1px rgb(8, 8, 8);
    padding: 15px;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: -40px;
    border-width: 1px;
  }
  
  .email{
    border: solid 1px rgb(8, 8, 8);
    padding: 15px;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: -40px;
    border-width: 1px;
    font-family:bariol_regular-webfont;
  }
  .phone{
    border: solid 1px rgb(8, 8, 8);
    padding: 15px;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: -40px;
    border-width: 1px;
    font-family:bariol_regular-webfont;
  }
  
  .field:focus{
    border-color: #18A383;
  }
  
   form  #btnsend{
   height: 70px;
   width: 200px;
    border-radius: 35px;
    border-style: solid;
    background-color: #154360;
    margin-top: 30px; 
    border-color: #154360;
    font-size: 20px;
    font-family: bariol_bold-webfont;
    color: white;
  }
   
  form p{
    font-size: blue;
  
  }
  
  /*FIN FORMULARIO*/
  /* footer */
  footer picture .img{
    max-width:100%;
  }

/* fin de footer */

  
/* responsive */
@media (min-width:1024px) and (max-width:1440px){
  
  form .center-content #btnsend{
    width:50%;
    height:50%;

  }


 .mensaje .field{
  width: 450px;
    
  
  
  } 







}

@media(max-width:768px) {


  .mensaje .field{
  width: 270px;
    
  
  
  }

}

@media(max-width: 500px){


  .mensaje .field{
    width: 200px;
      
    
    
    }
  #res{
    width:200px;
    margin-left: -30px;
  }
form p{
  margin-left: -100px;
}

form #btnsend{
  height: 70px;
   width: 150px;
    border-radius: 35px;
    border-style: solid;
 
}


}




/* fin del responsive */