@font-face {
  font-family: bariol_bold;
  src: url(/Fonts/titulos/bariol_bold_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_bold-webfont;
  src: url(/Fonts/bariol_bold-webfont.ttf);
}

@font-face {
  font-family: bariol_light-webfont;
  src: url(/Fonts/bariol_light-webfont.ttf);
}

@font-face {
  font-family: bariol_light_italic-webfont;
  src: url(/Fonts/bariol_light_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_regular-webfont;
  src: url(/Fonts/bariol_regular-webfont.ttf);
}

@font-face {
  font-family: bariol_regular_italic-webfont;
  src: url(/Fonts/bariol_regular_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_thin-webfont;
  src: url(/Fonts/bariol_thin-webfont.ttf);
}

@font-face {
  font-family: bariol_thin_italic-webfont;
  src: url(/Fonts/bariol_thin_italic-webfont.ttf);
}
:root {
	--primary-color:#3B9BB1;
   --colormorado:#405886;
   --colorgris:#c4cac8;
  --colorgrisoscuro:#9b9d9c;
  }


