* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* carga */
#contenedor_carga{
	background-color: rgba(250,240,245,0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all  1s ease;
	-o-transition: all  1s ease;
	transition: all  1s ease;
	z-index: 10000;
}
#carga{
	border: 15px solid #ccc;
	border-top-color: #F4266A;
	border-top-style: groove;
	height: 100px;
	width:  100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}
@keyframes girar{
	from{transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
/* fin de carga */
.logo img{

height:250px ;
width:500px;

}
/* fuentes  */
@font-face {
  font-family: bariol_bold;
  src: url(/Fonts/titulos/bariol_bold_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_bold-webfont;
  src: url(/Fonts/bariol_bold-webfont.ttf);
}

@font-face {
  font-family: bariol_light-webfont;
  src: url(/Fonts/bariol_light-webfont.ttf);
}

@font-face {
  font-family: bariol_light_italic-webfont;
  src: url(/Fonts/bariol_light_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_regular-webfont;
  src: url(/Fonts/bariol_regular-webfont.ttf);
}

@font-face {
  font-family: bariol_regular_italic-webfont;
  src: url(/Fonts/bariol_regular_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_thin-webfont;
  src: url(/Fonts/bariol_thin-webfont.ttf);
}

@font-face {
  font-family: bariol_thin_italic-webfont;
  src: url(/Fonts/bariol_thin_italic-webfont.ttf);
}
/* fuentes */
.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color:var(--primary-color) ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #3B9BB1;
 /* codigo
 celeste:  #3B9BB1*/
}






.navbar {
  background-color: var(--primary-color);
   color: #fff;
  height: 60px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;

}

.navbar .flex {
  justify-content: center;
}
.navbar img{

height: 200px;


}

/* franja1 */
.franja1 img{
max-width: 100%;

}


/* fin franja1 */

/* franja2 */

#franja2 .imgfranja2{
  display: none;
}
.franja2 .textosegundo h1 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
  color: white;
}


.franja2 .textosegundo p {
  font-family: bariol_regular-webfont;
  position: relative;
  left: -10px;
  margin-top: 15px;
  color: white;
  font-size: 28px;
  width: 50%;
}

.franja2 button {
  background-color: #405884;
  margin-top: 60px;
  border-style: solid;
  border-color: #405884;
  width: 220px;
  height: 60px;
  border-radius: 800px;
  font-family: bariol_regular-webfont;
}

.franja2 button:hover {
  width: 220px;
  height: 60px;
  border-radius: 800px;
  background-color: rgb(red, green, blue);
  transform: scale(0.97);

}
.franja2 button :hover h4{

  color: white;
  font-size: x-large;
}


.franja2 button h4 {
  color: white;
  font-size: x-large;
}

/* fin franja 2 */

/* franja3 */
.franja3 {
  background-image: url("/wpimages/homepage/Franaja3puntos.jpg");
  background-size: cover;
  background-size: cover;
  background-size: cover;
  height: 2000px;
}

.franja3 .texto1 h2 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  top: 200px;
  position: relative;
  color: white;
}

.franja3 .texto1 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.franja3 .texto1 html {
  font-family: Arial, Helvetica, sans-serif;
}

.franja3 .texto1 .imagen1 {
  width: 100%;
  height: 400%;
}

.franja3  .contenedor {
  width: 50%;
  position: relative;
  height: 40%;
  padding-top: 20px;
}

.franja3 .texto1 .botones {
  margin-top: 70%;
  font-size: 100px;
  font-family: bariol_bold-webfont;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.franja3 .texto1 .botones:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.franja3 .texto1 .atras {
  left: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto1 .adelante {
  right: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto2 h2 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  top: 200px;
  position: relative;
  color: white;
}

.franja3 .texto2 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.franja3 .texto2 html {
  font-family: Arial, Helvetica, sans-serif;
}

.franja3 .texto2 .imagen2 {
  width: 100%;
  height: 100%;
}


.franja3 .texto2 .contenedor2 {
  width: 50%;
  position: relative;
  height: 40%;
}

.franja3 .texto2 .botones2 {
  margin-top: 70%;
  font-size: 100px;
  font-family: bariol_bold-webfont;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.franja3 .texto2 .botones2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.franja3 .texto2 .atras2 {
  left: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto2 .adelante2 {
  right: 0%;
  top: calc(50% - 70%);
}
.franja3 .texto2 .contenedor2 .atras2 .botones2 .adelante2 .botones2 .imagen2{
top: 900px;

}


/* fin franja3 */
@media (min-width:1024px) and (max-width:1440px){
/* franja1 */
.franja1 .imgf{
display: none;

}
.franja1{
background-image: url("/wpimages/homepage/Primeraparteninas.jpg")no-repeat;
background-size: cover;
height: 900px;
min-height: 900px;
}

/* franja2 */

.franja2 h1 {
  top: -40px;
}
 .franja2 p{
  top: -50px;

 }



/* fin franja2 */

}



@media(max-width: 500px){
  .logo img{
    height:200px ;
    width:300px;

    }
/* franja1 */
.franja1 .imgf{
  display: none;

  }
  .franja1{
  background-image: url("/wpimages/homepage/Primeraparteninas.jpg")no-repeat;
  background-size: cover;
  

  }
/* fin fraja 1 */

/* franja2 */

.franja2 html{
  display: none;
}


.franja2 .textosegundo h1 {
  font-size: 200%;
  font-family: bariol_bold-webfont;

  padding-bottom: 0px;
  position: relative;
  color: white;
}


.franja2 .textosegundo p {
  font-family: bariol_regular-webfont;

  left: 2px;

  color: white;
  font-size: 130%;

}




/* fin franja2 */


/* franja 3 */
.franja3 {
height: 500px;

}



.franja3  .contenedor {
  width: 70%;
  position: relative;
  height: 40%;
  padding-top:100px;
}

/* letras */
.franja3 .texto1 html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.franja3 .texto1 .imagen1 {
  width: 100%;
  height: 400%;
}

/* fin franja 3*/
  /* hamburger menu */

    .menu-btn {
      position: fixed;
      z-index: 10;
      top: 30px;
      right: 30px;

      width: 10px;
      height: 1px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      z-index: 300;
      /* border: 3px solid #fff; */
    }
    .menu-btn__burger {
      width: 30px;
      height: 7px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 7px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
      transform: translateY(-16px);
    }
    .menu-btn__burger::after {
      transform: translateY(16px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }



    .hamburguer {
      position: fixed;
      z-index: 10;
      top: 30px;
      right: 30px;
      background: gray;
      width: 40px;
      height: 40px;
      cursor: pointer;
      -webkit-box-shadow: 0 0 6px #080808;
              box-shadow: 0 0 6px #080808;
    }

    .menu-navegacion {
      position: fixed;
      top: 0;
      right: 0;
      width: 90vw;
      height: 100%;
      background-color: #405886;
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      -webkit-transform: translate(110%);
              transform: translate(110%);
      -webkit-box-shadow: 0 0 6px #0e0d0d;
              box-shadow: 0 0 6px #0e0d0d;
    }

    .spread {
      -webkit-transform: translate(0);
              transform: translate(0);
    }

    .menu-navegacion a {
      text-decoration: none;
    }

    .titulo {
      font-size: 60px;
      margin-bottom: 15px;
    }

    .copy {
      font-weight: 300;
    }
    /* letras dentro del menu */
    /* letras dentro del menu */
    nav{
      display: none;
    }
    .menu-navegacion nav li{
      display:flex;
    height: 40px;

    }

    nav a{
    color: white;
    text-decoration: none;
    margin-top: -100px;
    margin-right: 30px;
    font-size: 20px;
    align-items: center;
    }
    nav a :hover{
    background-color: chartreuse;
    height: 200px;
    }
    .navbar .linea{
    height: 3px;
    width: 20px;
    display: flex;
    background-color: blanchedalmond;
    margin-top: 16px;

    }
    .navbar ul {
      display: block;
      margin-top: -200px;
    margin-right: 30px;
    }
    /* finde  letras del menu */
    /* fin del hamburguer icon */
/* scroll ddown */
.scroll-down{
  height: 50px;
width: 30px;
border:  2px solid black;
position: absolute;
left: 50%;
bottom: 20px;
border-radius: 50px;
cursor: pointer;
}

html{
  scroll-behavior: smooth;
}
.scroll-down::before,
.scroll-down::after{
content: '';
position: absolute;
top: 10%;
left: 50%;
border: 2px solid black;
height: 10px;
width: 10px;
transform: translate(-50%,-100%)rotate(45deg);
border-top: transparent;
border-left: transparent;
animation: scroll-down 1s ease-in infinite
}
.scroll-down::after{
  top: 30%;
  animation-delay: .3s;
}
@keyframes scroll-down{
  0%{
    opacity: 0;

  }
  30%{
    opacity: 1;

  }
  60%{
    opacity: 1;

  }
  100%{
    opacity: 0;
    top:90%;
  }
}
/* fin de scroll down */
    }

