* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo img{

height:250px ;
width:500px; 

}
/* fuentes  */
@font-face {
  font-family: bariol_bold;
  src: url(/Fonts/titulos/bariol_bold_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_bold-webfont;
  src: url(/Fonts/bariol_bold-webfont.ttf);
}

@font-face {
  font-family: bariol_light-webfont;
  src: url(/Fonts/bariol_light-webfont.ttf);
}

@font-face {
  font-family: bariol_light_italic-webfont;
  src: url(/Fonts/bariol_light_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_regular-webfont;
  src: url(/Fonts/bariol_regular-webfont.ttf);
}

@font-face {
  font-family: bariol_regular_italic-webfont;
  src: url(/Fonts/bariol_regular_italic-webfont.ttf);
}

@font-face {
  font-family: bariol_thin-webfont;
  src: url(/Fonts/bariol_thin-webfont.ttf);
}

@font-face {
  font-family: bariol_thin_italic-webfont;
  src: url(/Fonts/bariol_thin_italic-webfont.ttf);
}
/* fuentes */
.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color:var(--primary-color) ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color:#3B9BB1;
 
}






.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  
}

.navbar .flex {
  justify-content: center;
}
.navbar img{

height: 200px;


}

/* franja1 */
.franja1 img{
max-width: 100%;

}
/* fin franja1 */

/* franja2 */


.franja2 .textosegundo h1 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
  color: white;
}

.franja2 .textosegundo p {
  font-family: bariol_regular-webfont;
  position: relative;
  left: -10px;
  margin-top: 15px;
  color: white;
  font-size: 28px;
  width: 50%;
}

.franja2 .boton-quienes-somos {
  background-color: #405884;
  margin-top: 60px;
  border-style: solid;
  border-color: #405884;
  width: 220px;
  height: 60px;
  border-radius: 800px;
}

.franja2 .boton-quienes-somos:hover {
  width: 220px;
  height: 60px;
  border-radius: 800px;
  background-color: rgb(red, green, blue);
  transform: scale(0.97);

}
.franja2 .boton-quienes-somos :hover .letras{

  color: white;
  font-size: x-large;
}


.franja2 .boton-quienes-somos .letras {
  color: white;
  font-size: x-large;
}

/* fin franja 2 */

/* franja3 */
.franja3 {
  background-image: url("/wpimages/homepage/Franaja3puntos.jpg");
  background-size: cover;
  background-size: cover;
  background-size: cover;
  height: 2000px;
}

.franja3 .texto1 h2 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  top: 200px;
  position: relative;
  color: white;
}

.franja3 .texto1 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.franja3 .texto1 html {
  font-family: Arial, Helvetica, sans-serif;
}

.franja3 .texto1 .imagen1 {
  width: 100%;
  height: 400%;
}

.franja3  .contenedor {
  width: 50%;
  position: relative;
  height: 40%;
  padding-top: 20px;
}

.franja3 .texto1 .botones {
  margin-top: 70%;
  font-size: 100px;
  font-family: bariol_bold-webfont;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.franja3 .texto1 .botones:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.franja3 .texto1 .atras {
  left: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto1 .adelante {
  right: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto2 h2 {
  font-size: 300%;
  font-family: bariol_bold-webfont;
  top: 200px;
  position: relative;
  color: white;
}

.franja3 .texto2 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.franja3 .texto2 html {
  font-family: Arial, Helvetica, sans-serif;
}

.franja3 .texto2 .imagen2 {
  width: 100%;
  height: 100%;
}


.franja3 .texto2 .contenedor2 {
  width: 50%;
  position: relative;
  height: 40%;
}

.franja3 .texto2 .botones2 {
  margin-top: 70%;
  font-size: 100px;
  font-family: bariol_bold-webfont;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.franja3 .texto2 .botones2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.franja3 .texto2 .atras2 {
  left: 0%;
  top: calc(50% - 70%);
}

.franja3 .texto2 .adelante2 {
  right: 0%;
  top: calc(50% - 70%);
}
.franja3 .texto2 .contenedor2 .atras2 .botones2 .adelante2 .botones2 .imagen2{
top: 900px;

}


/* fin franja3 */
@media (min-width:1024px) and (max-width:1440px){
/* franja1 */
.franja1 .imgf{
display: none;

}
.franja1{
background-image: url("/wpimages/homepage/Primeraparteninas.jpg")no-repeat;
background-size: cover;
height: 900px;
min-height: 900px;
}

/* franja2 */

.franja2 h1 {
  top: -40px;
}
 .franja2 p{
  top: -50px;

 }


.franja2 .boton-quienes-somos {
  background-color: #405884;
  margin-top: -500px;
  top: 200px;
  border-style: solid;
  border-color: #405884;
  width: 220px;
  height: 60px;
  border-radius: 800px;
}
/* fin franja2 */

}



@media(max-width: 500px){
  .logo img{

    height:200px ;
    width:300px; 
    
    }
/* franja1 */
.franja1 .imgf{
  display: none;
  
  }
  .franja1{
  background-image: url("/wpimages/homepage/Primeraparteninas.jpg")no-repeat;

  background-size: cover;
  height: 2000px;

  }
/* fin fraja 1 */

/* franja2 */
.franja2{
  height: 10px;
}
.franja2 .textosegundo h1 {
  top: -1700px;
  align-items: center;
font-size: 40px;
}

 .franja2 .textosegundo p{
  top: -1700px;
font-size: px;

 }
 .franja2 .boton-quienes-somos {
  position: absolute;
  top:150%;
  left: 100px;

}
 
/* fin franja2 */

.franja3 {
height: 400px;

}
  

}
